
/* about.component.css or about.component.scss */
.about {
    text-align: center; /* Center-align the content horizontally */
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto; /* Center-align the content horizontally */
    text-align: left; /* Reset text alignment for content */
  }
  
  .about h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 16px;
    margin-bottom: 20px; /* Add spacing between paragraphs */
  }
  
  .about ul {
    list-style-type: disc; 
    text-align: left; 
    margin-left: 30px; 
  }
  
  .about li {
    font-size: 16px;
    margin-bottom: 10px; /* Add spacing between list items */
  }
  