/* header.component.css */
.header {
  background-color: #305e3a; /* Initial background color */
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s; /* Add a smooth transition for background color */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: color 0.3s; /* Add a smooth transition for text color */
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 18px; /* Adjust the font size for the navigation links */
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px; /* Adjust the font size for the navigation links */
  transition: color 0.3s; /* Add a smooth transition for text color */
}

/* Add styles for the sticky effect when scrolling */
.header.sticky {
  background-color: #305e3a; /* Background color after scrolling */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Adjust the styles for the logo and links when sticky */
.header.sticky .navbar-logo a {
  color: #fff; /* Change text color when sticky */
}

.header.sticky .nav-item a {
  font-size: 18px; /* Adjust font size when sticky */
  color: #f7f7f7; /* Change text color when sticky */
}
