
/* hero.component.css or hero.component.scss */
.hero {
  background-image: url('src/assets/flowers.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
}
