<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-header bg-info text-white">
                    <h2>About Us</h2>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius consectetur eros, nec lacinia risus malesuada quis. Nullam fringilla hendrerit magna, id tristique lorem luctus vel.</p>
                    <p>Vivamus scelerisque neque a justo volutpat, vel faucibus justo rhoncus. Nunc dictum arcu ut malesuada. Nulla facilisi. In hac habitasse platea dictumst.</p>
                    <p>Fusce vel orci sit amet ligula suscipit tempus. Nulla facilisi. Suspendisse eu quam nec nulla semper vehicula.</p>
                </div>
            </div>
        </div>
    </div>
</div>
